# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.sqlite3
*.db

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Logs and environment
*.log
.env
.env.local
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
